TURSO_DATABASE_URL=libsql://quizapp-pasadyaguy.aws-us-east-2.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzYwMDU3OTgsImlkIjoiMDE5ZDgyMzAtMmQwMS03NmQyLTgxYjEtYzFmYzJjZGEwMTFlIiwicmlkIjoiNjdlOTc1NzktOWY2OS00ZjU3LTk1MTgtZjM5YjIzZjY5M2U5In0.gsD-QHsgAaK-A2gUkobApuNxDG0fmSpds1xDsz7O2FPkAJOkaLbvS9jzRv3nR7Uigb1wmL-s6DC76hWfc_cjBg
